.judul{
    color:rgb(20, 201, 20);
    font-size: 100px;
}
.des{
    color: antiquewhite;
}
.App{
    text-align:center;
}
.head{
    text-align: center;
}
.link{
    padding: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}
.link:hover{
    color: blue;
    transition: 0.3s;
}